<h1>Givings <%= link_to 'New Giving', new_church_giving_path(@church), class: "btn grn-btn" %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All Givings</h3>
  </div>
  <div class="panel-body">
    <%= render partial: "shared/search_form", locals: { path: church_givings_path } %>
    <div id="church-data">
      <%= render partial: "givings" %>
    </div>
  </div>
</div>
