<% @groups.in_groups_of(3, false) do |row_groups| %>
  <div class="row">
    <% for group in row_groups %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <%= image_tag group.group_image_url(:medium), class: "img-responsive" if group.group_image_url.present? %>
          <h5><%= link_to group.name, church_group_path(@church, group) %></h5>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
