<table class="table table-striped">
  <thead>
    <tr>
      <th>First Nmae</th>
      <th>Last Nmae</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @group_members.each do |group_member| %>
    <tr>
      <td><%= group_member.member.first_name %></td>
      <td><%= group_member.member.last_name %></td>
      <td><%= group_member.member.email %></td>
      <td class="actions">
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [@church, @group, group_member], method: :delete, data: { confirm: 'Are you sure?' }, class: "action delete" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
