<h1>Groups <%= link_to 'New Group', new_church_group_path(@church), class: "btn grn-btn" %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Groups</h3>
  </div>
  <div class="panel-body">
    <%= render "groups" %>
  </div>
</div>
