<div class="banner home">
  <div class="container banner-text text-center">
    <h1>Church Management Software <span>&amp;</span> Internet Marketing</h1>
    <%= link_to "Get Started Today!", new_user_registration_path, class: "btn main-btn btn-lg" %>
    <i class="fa fa-angle-down"></i>
  </div>
</div>
<div class="clearfix"></div>
