<div class="banner home">
  <div class="container banner-text text-center">
    <%= image_tag('dove.png') %>
    <h1>Church Management Software <span>made</span> Easy</h1>
    <%= link_to "Get Started Today!", new_user_registration_path, class: "btn grn-btn btn-lg" %>
  </div>
</div>
<div class="clearfix"></div>
