<section id="web-design">
  <div class="container main-content">
    <header>
      <h2>Does Your Website Need a Fresh Coat?</h2>
    </header>
    <div class="row">
      <div class="col-md-8">
        <p>Is your website design old and dated? Let us help you bring life back into your website. Our designers are top notch and can create a beautiful new design just for you! Every website we design is custom tailored for each of our clients, using color schemes of your choice. Not sure what color scheme to use, no problem, let our designers put together one for you.</p>
        <p>Need help with other designed assets, we can help! We also design logos, post cards, banners, and a bunch of other marketing material to help you reach more people. Learn more about all the design services we offer.</p>
      </div>
    </div>
  </div>
</section>
