<section id="domains">
  <div class="container main-content">
    <header>
      <h2>Domain Management Made Easy</h2>
    </header>
    <div class="row">
      <div class="col-md-8">
        <p>Tired of keeping up with domain renewals, and all the settings that go along with domain management? Maybe you don’t understand all the settings, that’s okay, let us manage your domain name! We can transfer you domain into our account and mange everything for you. We keep up with the renewal, and all the technical settings so you don’t have to worry. You can rest easy knowing your domain is in our hands, and if you ever decide you want you domain back, we will transfer it back to you with no additional charge.</p>
        <p>Don’t have a domain name yet? We can purchase one for you! Contact us today to learn more about our domain management services.</p>
      </div>
    </div>
  </div>
</section>
