<section id="social">
  <div class="container main-content">
    <header>
      <h2>Reach New &amp; Existing Members on Social Media.</h2>
    </header>
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <p>Your members are already on social media and you should be too! The average person spends over 90 minutes a day on social media, and that time is increasing every year. Grow your congregation by building online reputation, trust, and loyalty using social media. We live in a time of social sharing, so its time to get your message out there. With social media marketing you can extend your message and reach new people. Contact us today to learn more about our social media services.</p>
      </div>
    </div>
  </div>
</section>
