<%= render "banner" %>
<section class="container main-content">
  <h1 class="text-center">Home Page</h1>
  <div class="col-md-8 col-md-offset-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum blandit euismod. Donec feugiat leo fringilla porttitor malesuada. Proin molestie purus lobortis libero finibus porta. Nulla imperdiet, ipsum at interdum rhoncus, eros massa semper elit, ut lobortis ipsum risus id lacus. Pellentesque metus orci, luctus vitae volutpat et, fermentum id velit. Vivamus ut turpis orci. Sed pellentesque justo quis ultrices venenatis. Cras mattis eros sit amet rhoncus posuere. Quisque porta sem at tincidunt volutpat. Nunc id luctus diam. Praesent sollicitudin libero nunc, a tempus ante eleifend lacinia. Aenean semper sit amet sem nec sagittis. Proin ac turpis iaculis, auctor odio eu, rutrum diam.</p>
    <p>Suspendisse ut vestibulum diam. Suspendisse maximus, ligula sed fringilla efficitur, turpis sapien ultrices quam, ac auctor dui sem in eros. Vivamus lobortis mi congue leo tempus luctus. Integer luctus libero ut magna tempor gravida sit amet eget mauris. Nullam vel elit bibendum nunc venenatis tincidunt. Nunc sodales vel ante ac tincidunt. Nullam congue augue est, vel aliquam velit varius luctus. Integer egestas lorem nec auctor dictum. In pharetra mollis nisi a porttitor. Nam id eros et justo porttitor condimentum. Nam nibh diam, bibendum sed est non, vulputate semper lorem. Nullam rhoncus malesuada libero, sed euismod eros porttitor ac. Cras id tristique nunc. Pellentesque blandit mi eu enim consectetur, in viverra purus commodo. Proin volutpat, nulla vitae gravida gravida, ipsum mi dictum lacus, iaculis feugiat justo eros in tortor. In viverra nisi magna, id aliquam quam viverra eget.</p>
  </div>
</section>
<%= render "features" %>
