<%= render "banner" %>
<section class="container main-content">
  <header>
    <h1 class="text-center">Grace Interactive Church Management Software.</h1>
    <h2>If you are looking for easy churh management software to help run your small to mid sized church, you found the right place.</h2>
  </header>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum dui hendrerit nisl varius molestie quis vel dolor. Nulla et lacinia velit, eget molestie dolor. Phasellus porta facilisis libero eget imperdiet. Vivamus sed erat tincidunt lacus laoreet malesuada. Vestibulum ut tristique purus. Nam in posuere eros. Vivamus placerat posuere felis, sed euismod nibh iaculis id. Donec varius sem nec ex volutpat feugiat. Duis vel purus malesuada, tristique ex at, sagittis mauris. Mauris molestie gravida tortor, non viverra tellus rutrum id. Suspendisse potenti. Aliquam hendrerit dictum dolor, in pharetra quam faucibus id. Duis nec lorem eu nisl fringilla pulvinar tempus ut neque. Nulla a ligula at ipsum volutpat aliquam vel nec enim. Curabitur quis lectus porttitor, accumsan lacus vel, hendrerit diam. Vivamus ac sem et turpis pretium finibus.</p>
      <p>Nunc scelerisque arcu urna, a aliquet enim pulvinar in. Proin varius consequat eros. Morbi non eleifend odio. Nam interdum, sem eget sodales sagittis, urna enim placerat sem, a placerat elit felis in nunc. Sed posuere euismod felis vel porta. Quisque lacus velit, dignissim et iaculis nec, elementum sit amet massa. Nulla ut turpis at dui dignissim commodo. In non nulla tincidunt, ultrices nunc nec, imperdiet odio. Cras vitae rhoncus odio, vitae cursus nisl.</p>
      <p>Duis diam justo, porttitor ac lorem vel, luctus commodo nisl. Mauris suscipit porttitor est, fringilla finibus dolor pharetra nec. Maecenas iaculis dolor ipsum, in elementum nisl tristique ut. Ut eu arcu non mi tincidunt cursus non et nisl. Praesent pharetra massa ut lacus tempus, a tempus ex commodo. Aenean vulputate, tellus quis tempor consequat, lacus ligula laoreet nisi, in cursus dolor lectus at dui. Mauris rutrum enim at dolor rhoncus laoreet. Duis fringilla vel neque non ullamcorper. Nulla volutpat imperdiet tincidunt. Curabitur pharetra dolor et metus molestie, condimentum tincidunt eros lobortis. In et dapibus purus.</p>
    </div>
  </div>
</section>
<%= render "management" %>
