<%= simple_form_for([@church, @giving_type]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: false, required: true, placeholder: "New Giving Type", input_html: { class: "form-control", autocomplete: "off" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn main-btn block" %>
  </div>
<% end %>
