<h1>Giving Types <%= link_to 'New Giving type', new_church_giving_type_path(@church), class: "btn grn-btn" %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All Giving Types</h3>
  </div>
  <div class="panel-body">
    <%= render partial: "shared/search_form", locals: { path: church_giving_types_path } %>
    <div id="church-data">
      <%= render partial: "giving_types" %>
    </div>
  </div>
</div>
