<h1>Giving Type <%= link_to 'Edit', edit_church_giving_type_path(@church, @giving_type), class: "btn main-btn" %> <%= link_to 'View All', church_giving_types_path(@church), class: "btn main-btn" %></h1>
<hr/>
<p><strong>Type: </strong><%= @giving_type.name %></p>
