/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

//General Styles//
body{
  padding-top: 92px;
  background: $lite-gray;
  .main-content{
    padding-top: 50px;
    padding-bottom: 50px;
    p{
      font-size: 18px;
      line-height: 1.5em;
    }
  }
}
h1,h2,h3,h4,h5,h6{
  color: $blue;
  font-family: $heading-font;
  font-weight: 700;
  .grn-btn{
    display: inline-block;
    margin: 0 0 0 20px;
  }
}
hr{
  border-top: 2px solid $dark-gray;
}
a{
  color: $blue;
}
//Navigation Styles//
.navbar-default{
  background: $mid-gray;
  border-bottom: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
#navbar{
  margin-top: 25px;
  ul{
    li{
      a{
        font-family: $heading-font;
        font-weight: 500;
        font-size: 16px;
        border-bottom: 3px solid transparent;
        &:hover{
          color: $green;
          border-color: $green;
        }
      }
    }
  }
}
//Side Navigation Styles//
.side-nav-container{
  padding-top: 15px;
  padding-bottom: 15px;
  background: $mid-gray;
}
.side-nav{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    border-bottom: 1px solid $lite-gray;
    &:last-child{
      border: none;
    }
    a{
      display: block;
      width: 100%;
      color: $blue;
      font-family: $heading-font;
      font-weight: 700;
      font-size: 18px;
      background: $mid-gray;
      padding: 10px 10px 10px 20px;
      &:hover{
        color: $lite-gray;
        text-decoration: none;
        background: $blue;
      }
    }
  }
}
//Misu Styles//
.flash-messages{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 777;
}
.form-inputs{
  input, textarea, select{
    margin: 5px 0;
    border-radius: 0;
  }
  .radio_buttons{
    label.radio_buttons{
      display: block;
    }
    .radio{
      display: inline-block;
      width: 170px;
    }
  }
}
.btn{
  &.grn-btn{
    color: $lite-gray;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 20px;
    background: $green;
    border-radius: 0;
    &:hover{
      color: $lite-gray;
      background: $blue;
    }
  }
  &.btn-lg{
    font-size: 25px;
    padding: 8px 40px;
  }
  &.block{
    display: block;
    width: 100%;
    margin: 7px 0;
    text-align: center;
  }
}
//Homepage Styles//
.banner{
  &.home{
    background: url('banner-home.jpg') no-repeat bottom center;
    background-size: cover;
    .banner-text{
      padding: 60px 0 60px 0;
      h1{
        font-weight: 900;
        font-style: italic;
        font-size: 3.2vw;
        text-shadow: 1px 1px 1px $lite-gray;
        margin-bottom: 20px;
        span{
          font-weight: 500;
        }
      }
    }
  }
}
.features{
  background: $mid-gray;
  padding: 60px 0;
  h3{
    color: $green;
    .feature-icon{
      margin-right: 15px;
    }
  }
}
//Form Styles//
.form-actions{
  margin-top: 20px;
}
.input.date{
  select{
    width: 30%;
    float: left;
    margin: 0 1.666%;
  }
}
