/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require font-awesome
 */
@import "variables";

//General Styles//
body{
  font-family: $body-font;
  background: $white;
  .main-content{
    padding-top: 50px;
    padding-bottom: 50px;
    .row{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    p{
      font-size: 18px;
      line-height: 1.5em;
    }
  }
}
h1,h2,h3,h4,h5,h6{
  color: $blue;
  font-family: $heading-font;
  font-weight: 900;
  margin: 0 0 10px 0;
  .main-btn{
    display: inline-block;
    margin: 0 0 0 20px;
  }
}
header{
  text-align: center;
  margin-bottom: 30px;
}
h1{
  color: $red;
  font-size: 2.7vw;
}
h2{
  color: $blue;
  font-weight: 400;
  font-size: 2vw;
}
hr{
  border-top: 2px solid $dark-gray;
}
a{
  color: $blue;
}
//Navigation Styles//
.navbar-wrapper{
  position: relative;
  z-index: 999;
  background: url('nav-bg.jpg') no-repeat center center;
  background-size: cover;
}
.navbar-default{
  background: transparent;
  border: none;
  .logo a{
    color: $white;
    font-family: $heading-font;
    font-weight: 900;
    font-size: 52px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    span{
      font-weight: 400;
    }
  }
}
#navbar{
  margin-top: 25px;
  ul{
    li{
      a{
        color: $white;
        font-family: $heading-font;
        font-weight: 500;
        font-size: 16px;
        border-bottom: 3px solid transparent;
        &:hover{
          color: $white;
          border-color: $white;
        }
      }
    }
  }
}
//Side Navigation Styles//
.side-nav-container{
  padding-top: 105px;
  padding-bottom: 15px;
  background: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.side-nav{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    border-bottom: 1px solid $lite-gray;
    &:last-child{
      border: none;
    }
    a{
      display: block;
      width: 100%;
      color: $blue;
      font-family: $heading-font;
      font-weight: 700;
      font-size: 18px;
      background: $white;
      padding: 10px 10px 10px 20px;
      i{
        width: 24px;
        text-align: center;
      }
      &:hover{
        color: $white;
        text-decoration: none;
        background: $blue;
      }
    }
  }
}
//Misu Styles//
.flash-messages{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 777;
}
.form-inputs{
  input, textarea, select{
    margin: 5px 0;
    border-radius: 0;
  }
  .radio_buttons{
    label.radio_buttons{
      display: block;
    }
    .radio{
      display: inline-block;
      width: 170px;
    }
  }
}
.btn{
  &.main-btn{
    color: $red;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 20px;
    background: transparent;
    border-radius: 30px;
    border: 3px solid $red;
    &:hover{
      color: $white;
      background: $red;
      border-color: $red;
    }
  }
  &.btn-lg{
    font-size: 25px;
    padding: 8px 40px;
  }
  &.block{
    display: block;
    width: 100%;
    margin: 7px 0;
    text-align: center;
  }
}
.table{
  tr{
    td{
      font-size: 16px;
    }
  }
}
.actions{
  min-width: 100px;
  .action{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: $white;
    background: $blue;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    &:hover{
      background: $blue;
    }
    &.delete{
      &:hover{
        background: $red;
      }
    }
  }
}
.panel-default{
  .panel-heading{
    background: $blue;
    .panel-title{
      color: $white;
    }
  }
}
//Homepage Styles//
body.home{
  .navbar-wrapper{
    background: none;
  }
}
.banner{
  &.home{
    background: url('banner-home.jpg') no-repeat bottom center;
    background-size: cover;
    margin-top: -104px;
    height: 100vh;
    padding-top: 35vh;
    position: relative;
    .banner-text{
      padding: 60px 0 60px 0;
      h1{
        color: $white;
        font-weight: 900;
        font-size: 3.5vw;
        margin-bottom: 50px;
        text-shadow: 1px 2px 2px rgba(0,0,0,0.7);
      }
      .main-btn{
        color: $white;
        border-color: $white;
        &:hover{
          border-color: $red;
        }
      }
      i{
        color: $white;
        font-size: 50px;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
      }
    }
  }
}
.features{
  background: $blue;
  h3{
    color: $white;
    font-size: 20px;
    .feature-icon{
      margin-right: 15px;
    }
  }
  p{
    color: $white;
  }
}
//Form Styles//
.form-actions{
  margin-top: 20px;
}
.input.date{
  select{
    width: 30%;
    float: left;
    margin: 0 1.666%;
  }
}
