<%= render "shared/head" %>
  <div class="container-fluid main-content">
    <div class="col-md-9 col-md-push-3">
      <%= yield %>
    </div>
    <div class="col-md-3 col-md-pull-9 side-nav-container">
      <%= render "shared/side_nav" %>
    </div>
  </div>
</body>
</html>
