<%= render "shared/head" %>
  <div id="main-content">
    <div class="container-fluid">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="side-nav-container">
    <%= render "shared/side_nav" %>
  </div>
</body>
</html>
