<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Total Members</h3>
      </div>
      <div class="panel-body">
        <%= column_chart @members.group(:church_id).count, xtitle: "Church", ytitle: "Total Members", height: "200px", colors: ["#11f911"] %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">New Members by Week</h3>
      </div>
      <div class="panel-body">
        <%= line_chart @members.group_by_week(:created_at).count, xtitle: "Week", ytitle: "New Members", height: "200px" %>
      </div>
    </div>
  </div>
</div>
